body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa3ba;
    line-height: 26px;
}
a{
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.btn-primary{
    color: #fff; 
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 45px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #1085e4;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}
.btn-secondary{
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 45px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #cbdbe8;
}
.btn-secondary:hover{
    background-color:#fff ;
}
.btn-group a+a{
margin-left: 15px;
}
.button-free {
    color: #fff; 
    font-weight: 400;
    background-color: #1085e4;
    letter-spacing: 2.2px;
    padding: 25px 60px;

}
.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;

}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.page-subscribe h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.page-subscribe h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}
.page-subscribe button {
    color: #fff; 
    font-weight: 400;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px 49px;
    border-radius: 30px;
    letter-spacing: 2.9px;
    border: 1px solid #1085e4;

}
.page-software h2{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}
.list dt {
    font-size: 16px;
    color: #bacbdc;
    font-weight: 700;
}
.page-stat h2 span {
    font-size: 16px;
    color: #1085e4;
    font-weight: 800;
    display: block;
}
.page-stat h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}
.fact li span {
    font-size: 60px;
    color: #bacbdc;
    font-weight: 700;
}
.fact li {
    font-size: 12px;
    color: #1085e4;
    font-weight: 700;
}
.page-app h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}
.page-start h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}
.page-start button {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 43px;
    border-radius: 30px;
    letter-spacing: 3.1px;
    border: 1px solid #1085e4;
}
.page-etid h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}
.page-etid button {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 69px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #1085e4;
}
.page-screen h2 span{
    font-size: 18px;
    color: #1085e4;
    font-weight: 800;
}
.page-screen h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
}
.page-clients h2 span {
    font-size: 18px;
    color: #6eb8f8;
    font-weight: 800;
}
.page-clients h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.name {
    font-size: 22px;
    color: #000958;
    font-weight: 600;
}
.position {
    font-size: 14px;
    color: #1085e4;
    font-weight: 700;
}
.page-plan h2 span {
    font-size: 18px;
    color: #6eb8f8;
    font-weight: 800;
}
.page-plan h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
}
.box-price-item h3 {
    font-size: 70px;
    color: #000958;
    font-weight: 700;
}
.box-price-item p strong {
    font-size: 14px;
    color: #0084ff;
    font-weight: 700;
}
.box-price-item a {
    font-size: 12px;
    color: #9ca0c2;
    font-weight: 700;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 24px 69px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #b3b0b0;
}
.box-price-item-active h3 span  {
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
}
.box-price-item-active p strong {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}
.box-price-item-active a {
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 24px 69px;
    border-radius: 33px;
    letter-spacing: 3.4px;
    border: 1px solid #1085e4;
}
.box-price-item-active1 h3 span {
    font-size: 70px;
    color: #000958;
    font-weight: 700;
}
.box-price-item-active1 p strong {
    font-size: 14px;
    color: #0084ff;
    font-weight: 700;
}
.box-price-item-active1 a {
    font-size: 12px;
    color: #9ca0c2;
    font-weight: 700;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 24px 69px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #b3b0b0;
}
.page-team h2 span {
    font-size: 18px;
    color: #85c8ff;
    font-weight: 800;
}
.page-team h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
}
.box-team p span {
    font-size: 14px;
    color: #0084ff;
    font-weight: 800;
}
.box-team p {
    font-size: 26px;
    color: #000958;
    font-weight: 600;
}
.page-form h2 {
    font-size: 50;
    color: #000958;
    font-weight: 600;
}
.page-form button {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 25px 82px;
    border-radius: 33px;
    letter-spacing: 3.5px;
    border: 1px solid #1085e4;

}
.footer p a {
    font-size: 16px;
    color: #155ca3;
    font-weight: 400;
}